<form method="post" action="{{ path('app_admin_option_delete', {'id': option.id}) }}" onsubmit="return confirm('Êtes vous vraiment sûr ?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
