{% extends 'base.html.twig' %}

{% block title %}Editer l'option{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer l'option</h1>

        {{ include('admin_option/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <div class="mt-4">
            <a href="{{ path('app_admin_option_index') }}" class="me-2">Revenir à la liste</a>

            {{ include('admin_option/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
