<form method="post" action="{{ path('app_admin_property_delete', {'id': property.id}) }}" onsubmit="return confirm('Êtes vous vraiment sûr ?');" style="display: inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
