{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Voir tous nos biens</h1>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur delectus repellendus aspernatur, numquam doloremque recusandae est nihil quas, provident veniam placeat. Accusantium numquam praesentium aperiam dolore dolorum nisi nam saepe.
    </p>
</div>
{% endblock %}
